.box-2 {
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Bellefair', serif;
    // font-family: 'Barlow', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/crew_bg.png);
}

.header {
    
}

.crew {
    padding-top: 62px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner-photo{
        display: flex;
    }

    &__class {
        font-family: 'Bellefair';
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
        font-weight: 400;
        margin-bottom: 15px;
        margin-top: 0;
    }

    &__name {
        font-family: 'Bellefair';
        font-size: 56px;
        line-height: 64px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 27px;
    }

    &__abz {
        width: 444px;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
        margin-bottom: 120px;
    }

    &__slider-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 132px;
    }

    &__slider-button-active {
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
    }

    &__slider-button {
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.17;
    }

    &__slider-button:hover {
        opacity: 0.5;
    }

    h1{
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 0;
    }
}