@media(max-width:1130px) {

    .planets {
        &__inner-left {
            width: 400px;
            height: 400px;
        }

        &__menu {
            margin: 0 auto 37px;
        }

        &__text {
            text-align: center;
        }

        &__abz {
            text-align: center;
            width: 385px;
            font-size: 16px;
            margin: 0 auto 28px;
        }

        &__info-inner {
            margin: 0 auto;
        }
    }
}

@media(max-width:860px) {

    .planets {
        h1 {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
        }

        &__f {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
            padding-right: 19px;
        }

        &__inner {
            flex-direction: column;
        }

        &__inner-left {
            margin-bottom: 53px;
        }

        &__menu {
            margin-bottom: 32px;
        }

        &__text {
            font-size: 80px;
            line-height: 92px;
        }

        &__abz {
            font-size: 16px;
            line-height: 28px;
            width: 573px;
            padding-bottom: 49px;
        }

        &__distance {
            text-align: center;
        }

        &__travel {
            text-align: center;
        }
    }

    .header {

    }
}

@media(max-width:780px) {

    .planets {
        &__inner-left {
            width: 300px;
            height: 300px;
        }
    }
}

@media(max-width:730px) {

    .container {
        max-width: 600px;
    }
}

@media(max-width:645px) {

    .contianer {
        max-width: 530px;
    }

    .planets {
        h1 {
            text-align: center;
        }

        &__inner-left {
            margin-bottom: 53px;
        }

        &__text{
            margin-bottom: 8px;
        }
    }
}

@media(max-width:600px) {

    .planets {
        padding-top: 40px;
        padding-bottom: 62px;
        &__abz {
            width: 390px;
        }
    }
}

@media(max-width:430px) {


    .container {
        max-width: 327px;
    }

    .planets {
        &__inner-left {
            width: 170px;
            height: 170px;
        }

        h1 {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 19px;
        }

        &__menu {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 56px;
            line-height: 64px;
        }

        &__abz {
            font-size: 15px;
            line-height: 25px;
            width: 327px;
            padding-bottom: 32px;
            margin-bottom: 32px;
        }

        &__info-inner {
            flex-direction: column;
            height: 154px;
        }
    }
}